.contactClass {
  color: white;
  width: 80%;
  min-height: 40vh;
  margin: 0 auto;
  padding-top: 10vh;
}

.contactTitle {
  margin: 2vh 0;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(190, 240, 255);
  text-align: center;
  letter-spacing: 0.5mm;
}

.contactlinks {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
}

.icons i {
  margin-right: 10px;
}

.icons a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(224, 224, 224);
}

.icons:hover,
a:hover {
  color: rgb(190, 240, 255);
  /* text-shadow: 0 0 3px rgb(190, 240, 255); */
}
