.profile {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  padding: 15vh 0;
  /* border: 1px solid white; */
  position: relative;
}

.bio {
  /* margin: 10vh 0; */
  /* border: 1px solid white; */
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(0, -45%);
}

.radium {
  color: rgb(133, 227, 255);
  font-size: 1rem;
  /* border: 1px solid white; */
  display: flex;
}

.shreyanshsingh {
  font-size: 4.4rem;
  color: rgb(233, 233, 233);
  font-weight: 700;
  letter-spacing: 0.5mm;
}

.intro {
  font-size: 1rem;
  color: rgb(155, 155, 155);
  text-align: justify;
  /* border: 1px solid white; */
  width: 50%;
}

.slogan h6 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: 0.15em solid rgb(133, 227, 255); */
  white-space: nowrap; /* Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  animation: typing 4s steps(68, end), blink-caret 0.75s step-end infinite;
  font-size: 2.5rem;
  color: rgb(199, 199, 199);
  font-weight: 600;
  /* margin-bottom: 2vh; */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The slogan cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(133, 227, 255);
  }
}

@media screen and (max-width: 1030px) {
  .profile {
  }

  .shreyanshsingh {
    font-size: 2.4rem;
  }
  .slogan h6 {
    font-size: 1.5rem;
    color: rgb(199, 199, 199);
    font-weight: 600;
  }
  .intro {
    font-size: 0.8rem;
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .shreyanshsingh {
    font-size: 2.2rem;
  }
  .slogan h6 {
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }
  .intro,
  .radium {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  .intro {
    font-size: 0.8rem;
    width: 80%;
  }
  .shreyanshsingh {
    font-size: 1.5rem;
  }
  .slogan h6 {
    font-size: 0.9rem;
    width: 100%;
    margin: 0;
  }
  .radium {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 380px) {
  .intro {
    font-size: 0.7rem;
    width: 80%;
  }
  .shreyanshsingh {
    font-size: 1.5rem;
  }
  .slogan h6 {
    font-size: 0.7rem;
    width: 100%;
    margin: 0;
  }
  .radium {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 300px) {
  .slogan h6 {
    display: none;
  }
}
